* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 2rem;
}
:root {
    --main: #F2E3DB;
    --hamburger: #263A29;
    --text: #E86A33;
}

.nav {
background-color: var(--main);
padding: 2rem 2rem;
}

.nav__hamburger {
    width: 3rem;
    height: 0.4rem;
    background-color: var(--hamburger);
    transition: .4s ease;
    display: inline-block;
    border-radius: 3px;
}

.nav__hamburger::after,
.nav__hamburger::before{
    content: "";
    position: absolute;
    width: 3rem;
    height: 0.4rem;
    background-color: var(--hamburger);
    border-radius: 3px;
    transition: .4s ease;
}

.nav__hamburger::after{
    margin-top: 8px;
}

.nav__hamburger::before{
    margin-top: -8px;
}

.nav__toggler {
    display: none;
}

.nav__toggler:checked ~ .nav__hamburger {
background-color: transparent;
}

.nav__toggler:checked ~ .nav__hamburger::before,
.nav__toggler:checked ~ .nav__hamburger::after {
    margin-top: 0;
}

.nav__toggler:checked ~ .nav__hamburger::before{
    transform: rotate(45deg);
}

.nav__toggler:checked ~ .nav__hamburger::after{
    transform: rotate(-45deg);
}

.nav__toggler:checked ~ .nav__list {
    display: block;
}

.nav__list{
    display: none;
}

.nav__list--dropdown {
    padding-left: 2rem;
    display: block;
}

.nav__item {
    padding: 0.33rem;
}

.nav__link {
    text-decoration: none;
    color: var(--text);
}

.nav__link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
.nav__hamburger {
    display: none;
}
.nav__list {
    display: block;
    display: flex;
}
.nav__item--children {
    position: relative;
}
.nav__link {
    border: 0.2rem solid var(--hamburger);
    padding: 0.3rem 1rem;
}
.nav__link--dropdown {
    border: 0;
}
.nav__list--dropdown {
    position: absolute;
    display: block;
    top: 100%;
    left: -5rem;
    right: -15rem;
    display: none;
}
.nav__item:hover > .nav__list--dropdown{
display: inline-block;
}
}