.blue {
    padding: 5px 0px;
}
.blue--header {
    display: flex;
    justify-content: space-between;
}

.orange--logo {
    width: 200px;
    margin: 0;
}

.orange--menu {
    position: static;
    background-color: var(--item);
    width: 400px;
}

.orange--menu::after,
.orange--menu::before {
display: none;
}

.blue--main {
    display: flex;
    /* justify-content: space-between; */
}

.orange--main {
    width: 50%;
}

.orange--main + .orange--main {
    margin: 0px 5px 0px 0px;
}

.orange--main--1 {
    order: 1;
}

.blue--section {
    display: flex;
    justify-content: space-between;
}

.orange--section {
   flex-basis: 33%;
   margin: 5px;
}

.orange--section + .orange--section {
margin: 5px;
}

.orange--section5 {
    order: -1;
}