* {
    box-sizing: border-box;
}

:root {
    --wrapper: #9CA777;
    --container: #9999F2;
    --item: #F97B22;
}

.green {
    border: 5px solid var(--wrapper);
    /* width:100vw; */
    padding: 5px;
}

.blue {
    border: 3px solid var(--container);
    /* width: 1000px; */
}

.orange {
    background-color: var(--item);
    min-height: 50px;
}

/* .section1, .section2, .section3, .section4 {
    display: flex;
} */